@import url("https://use.typekit.net/nta3ijg.css");

.font_bn {
    font-family: "hind siliguri, sans-serif";
}

.Bangla {
    font-family: 'Bangla', sans-serif;
    font-size: large;
}

.NunitoEnglish {
    font-family: 'Nunito';
}

.ApercuEnglish {
    font-family: 'Apercu';
}